body {
    margin: 0;
    font-family: Oswald,sans-serif;
    background: #f4f4f4;
}

h1 {  
    margin: auto;
  width: 50%;
   }



#unsupported-message {
    display: none;
    text-align: center;
    padding: 40px 20px;
}

model-viewer {
    width: 100vw;
    height: 100vh;
}
